.press {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #000;
  padding: none;
}

.press:focus {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #000 !important;
  padding: none !important;
}

.press:hover {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #000 !important;
  padding: none !important;
}

.btn {
  padding: 0;
}

.content {
  padding: 3rem 1rem;
}

.content span {
  display: block;
}

.form-group {
  width: 30%;
}

.btn-primary {
  background-color: transparent;
  border: none;
}

.submit {
  background-color: lightgrey;
  border: none;
  padding: 0.5rem 0.8rem;
}

.btn-success:active {
  background-color: lightgrey !important;
  border: none;
}

.imgSmall {
  width: 25vw;
}

.ril__toolbar {
  visibility: hidden !important;
}

.ReactModal__Overlay {
  top: 56px !important;
}
.ReactModal__Overlay--after-open {
  top: 56px !important;
}
.ril_outer {
  padding-top: 56px !important;
}
