body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-top: 6vh;
}

.content {
  padding: 3rem 5vw;
}

.content span {
  display: block;
}

.content a {
  text-decoration: none !important;
  color: #000 !important;
}

.navigation {
  padding-left: 5vw;
  width: 288px;
  display: inline-flex;
}

.navigation a {
  text-decoration: none !important;
  color: #000 !important;
}

.navSpacer {
  width: 2vw;
}
